%p#notice.alert-success= alert= notice
%h1 Hallo, das ist deine Übersicht!
%p
  %strong Email:
  = @user.email
  = link_to 'Create new Expense', new_expense_path


  %table.listing{:summary => "Page list"}
    %tr.header
      %th Description
    - @expenses.each do |expense|
      %tr
        %td= expense.description
        %td.actions
          = link_to("Show", expense_path(expense), class: 'action show')
          /= link_to("Edit", edit_expense_path(expense), class: 'action edit')
          /= link_to("Delete", delete_expense_path(expense), class: 'action delete')
