= form_for @expense do |f|
  = f.text_field :description, placeholder: "description"
  %br
  = select_tag :user_ids, options_from_collection_for_select(@users, :id, :email), multiple: true
  %br
  = text_field_tag :amount, nil, placeholder: 'amount'
  .actions.btn-margin-top= f.submit "Create", class: "btn btn-primary"
